.projectClickable,
.projectClickable:hover,
button {
    all: unset;
}

body {
    background-color: rgb(230, 230, 230);
}

.white {
    color: white;
}

.red {
    background-color: #B20D30;
}


/* Kanban Syling */

ul.sortable {
    padding-left: 0;
    list-style: none;
    padding-top: 10px;
}

.ui-sortable-placeholder {
    visibility: inherit !important;
    background: rgb(214, 214, 214);
}

.ui-sortable-handle:hover {
    cursor: pointer;
    filter: brightness(95%);
}

#showEdit {
    display: none;
}

#taskCard:hover>#showEdit {
    display: block;
}


/* sidebar styling */

.sidebar {
    min-height: calc(100vh - 50px);
}


/* project border */

.new-project {
    border: 4px dashed lightgray;
    transition: transform 0.5s;
    border-radius: 1em;
}

.project-card {
    transition: transform 0.5s;
    border-radius: 1em;
}

.new-project:hover,
.project-card:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    transform: scale(0.95);
    transition: transform 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.project-body {
    height: 20rem;
}

.card-footer {
    height: 3rem;
    overflow: hidden;
}

.footer-content {
    display: none;
}

.project-card:hover>.card-footer>.footer-content {
    display: block;
}

.new-project .project-body {
    height: 23rem;
}

#deleteProject:hover {
    cursor: pointer;
    color: gray;
}

.btn-block+.btn-block {
    margin-top: .5rem;
}